<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definition for Student 1 -->
    <bean class="org.xml.configuration.Student" id="student1">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="name" value="Yash"/>
        <constructor-arg name="roll" value="101"/>
    </bean>

    <!-- Bean definition for Student 2 -->
    <bean class="org.xml.configuration.Student" id="student2">
        <constructor-arg name="id" value="2"/>
        <constructor-arg name="name" value="Shubham"/>
        <constructor-arg name="roll" value="102"/>
    </bean>

</beans>
